body {
  background: rgb(137, 137, 186);
  background: -moz-linear-gradient(
    45deg,
    rgba(137, 137, 186, 1) 0%,
    rgba(0, 0, 0, 1) 37%,
    rgba(137, 137, 186, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(137, 137, 186, 1) 0%,
    rgba(0, 0, 0, 1) 37%,
    rgba(137, 137, 186, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(137, 137, 186, 1) 0%,
    rgba(0, 0, 0, 1) 37%,
    rgba(137, 137, 186, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 );
 
}

hr {
  border: none;
  color: blanchedalmond;
  background-color: blanchedalmond;
  height: 1px;
}

p {
  color: blanchedalmond;
}

.block {
  height: 100%;
  max-width: 100%;
}

.img {
  border-radius: 9px;
  border: 9px;
}

.rightimg {
  flex-wrap: wrap;
  float: right;
  margin: 7px 7px 7px;
  height: 200px;
  width: 250px;
  border-radius: 5px;
}

.nav-conteiner {
  display: flex;
}

.nav-conteiner nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1px;
  margin: 0;
}

.fire a {
  display: flex;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  color: black;
  background-color: blanchedalmond;
  transition: 0.5s;
}

.fire:hover > a {
  transition: 0.5s;
  background-color: #ff6633;
  border: 1px solid#ff6633;
}

.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 20px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: blanchedalmond;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: blanchedalmond;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: auto;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: blanchedalmond;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: black;
  padding: 1px;
  text-align: center;
  border: 5px solid blanchedalmond;

  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: 0; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 5px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 30px; /* Отступ между колонками */
  row-gap: 40px; /* Отступ между рядами */
  margin: 0;
}

.my-element {
  background-color: transparent;
  color: blanchedalmond;
  font-style: italic;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 7px;
  margin-left: 9px;
  border: 0;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  background-color: lightblue;
  transition: 0.5s;
}

input[type="password"]:focus {
  outline: none;
  background-color: lightblue;
  transition: 0.5s;
}

input[type="password"] {
  padding: 7px;
  border: 0;
  border-radius: 5px;
}

textarea {
  width: 370px;
  outline: none;
  resize: none;
  border-radius: 5px;
  transition: 0.5s;
}

textarea:focus {
  background-color: lightblue;
  transition: 0.5s;
}
input[type="submit"] {
  background-color: blanchedalmond;
  color: black;
  font-style: italic;
  font-size: 17px;
  border-width: 0;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: black;
  color: blanchedalmond;
  transition: 0.5s;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.gallery img {
  width: 200px;
  border-radius: 5px;
  height: 200px;
  cursor: pointer;
}
